<!DOCTYPE html>
<html>
<head>
    <title>Currency App</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="width:100%; height:400px;"></div>
<script type="text/javascript">
    $(function () { 
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Cotação de moedas com base no dólar (USD)'
        },
        xAxis: {
            title: "Datas",
            categories: [
            {% for date in dates %}
            '{{date}}',
            {% endfor%}
            ]
        },
        yAxis: {
            title: "Valor",
        },
        series: [
        {
            name: '{{currency.name}}',
            data: {{currency.last_values}}
        },
        ]
    });
});
</script>
    
<div class="row">
    <form action="/" method="post">
        <button name="currency" value="Euro/EUR" type="submit">Euro</button>
        <button name="currency" value="Real/BRL" type="submit">Real</button>
        <button name="currency" value="Peso Argentino/ARS" type="submit">Peso Argentino</button>
    </form>
</div>
</body>
</html>